:root{
    --blue:#335576;
    --white:#ffffff;
    --orange:#DB7A4E;
    --cream:#FEFAF5;
}

header{
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_item-logo{
    font-size: 1.3rem;
    padding-left: 10%;
    font-weight: bold;
}

.header_item-right{
    height:60%;
    width:25%;
    padding-right: 10%;
}

.header_item-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar{padding: 0.5rem; color: black; text-decoration:none;}
.navbar:hover{
    border-bottom: 0.2rem solid var(--orange);
}

.logo{color:var(--blue);text-decoration:none;}

.hero{
    background-color: var(--cream);
    height:100%;
}

.hero_hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 8%;
}
    
.hero_hero-left{
    line-height: 250%;
 
}

article{
    color:var(--blue);
}
.hero_title{
    font-size: 3rem;
    font-weight: bold;
    line-height: 120%;
}

.hero_content{
    line-height:120%;
    width:90%;
}

.getstarted{
    border: none;
    color:var(--white);
    background-color: var(--orange);
    text-align: center;
    padding: 2% 5%;
    font-size: 100%;
    margin-top: 5%;
    border-radius: 2rem;
}

.hero_image{
    width:80%;
}

.hero_hero-right{
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
}

